In [6]:
import post_hoc as ph
import pandas as pd

## Ejemplo tabla 4.10 Tesis Jose

In [7]:
jose_4_10 = pd.read_csv('4_10_table_JOSE.csv')
jose_4_10.head()

         Dataset  Random Forest  G-Forest  GAR-Forest
0        abalone          24.42     25.02       24.81
1         anneal          99.15     98.84       98.64
2      audiology          74.78     76.19       76.55
3          autos          76.40     73.08       75.03
4  balance-scale          84.32     86.72       85.41

In [9]:
ph.posthoc_Friedman_Davenport_Hochbertest(jose_4_10, control='Random Forest')

### Experimento
# Number of classifiers: 3
# Number of datasets: 62
# Name of classifiers: Random Forest, G-Forest, GAR-Forest
# Alpha: 0.05

### Métricas
# Test de Friedman sobre métricas
	-> p-val: 0.0346

### Rankings
# GAR-Forest    ranking medio:  1.75
# G-Forest      ranking medio:  2.048
# Random Forest ranking medio:  2.202
# Test de Friedman sobre Rankings [F(6.5403, 2, 122)]
	-> p-val: 0.0020

### Test Hochberg Comparacion Random Forest vs all
# Tabla de comparación de Rankings:
                                 z      p  alpha/i    sig
Random Forest vs GAR-Forest  2.517  0.012    0.025   True
Random Forest vs G-Forest    0.857  0.391    0.050  False

                                 z      p  alpha/i    sig
Random Forest vs GAR-Forest  2.517  0.012    0.025   True
Random Forest vs G-Forest    0.857  0.391    0.050  False

## Ejemplo Demsar 2016

In [10]:
demsar = pd.read_csv('demsar_2016.csv')
demsar.head()

                 Dataset   C4.5  C4.5+m  C4.5+cf  C4.5+m+cf
0                  adult  0.763   0.768    0.771      0.798
1           breastcancer  0.599   0.591    0.590      0.569
2  breastcancerwisconsin  0.954   0.971    0.968      0.967
3                    cmc  0.628   0.661    0.654      0.657
4             ionosphere  0.882   0.888    0.886      0.890

In [13]:
ph.posthoc_Friedman_Davenport_Hochbertest(demsar, control='C4.5')

### Experimento
# Number of classifiers: 4
# Number of datasets: 14
# Name of classifiers: C4.5, C4.5+m, C4.5+cf, C4.5+m+cf
# Alpha: 0.05

### Métricas
# Test de Friedman sobre métricas
	-> p-val: 0.0120

### Rankings
# C4.5+m+cf ranking medio:  1.929
# C4.5+m    ranking medio:  2.0
# C4.5+cf   ranking medio:  2.929
# C4.5      ranking medio:  3.143
# Test de Friedman sobre Rankings [F(9.8571, 3, 39)]
	-> p-val: 0.0001

### Test Hochberg Comparacion C4.5 vs all
# Tabla de comparación de Rankings:
                       z      p  alpha/i    sig
C4.5 vs C4.5+m+cf  2.488  0.013    0.017   True
C4.5 vs C4.5+m     2.342  0.019    0.025   True
C4.5 vs C4.5+cf    0.439  0.661    0.050  False

                       z      p  alpha/i    sig
C4.5 vs C4.5+m+cf  2.488  0.013    0.017   True
C4.5 vs C4.5+m     2.342  0.019    0.025   True
C4.5 vs C4.5+cf    0.439  0.661    0.050  False

## Resultados nuestros

In [16]:
embbeding_auc_norm = pd.read_csv('res_auc_embbedings_norm_clf.csv')
embbeding_auc_norm.head()

,Dataset,KNN8,Tree,Bayes,SVM,RandomF,Ada,Reglas,GBC,MLP100,MLP10
0,RT_Embedding,0.832000,0.590000,0.642000,0.792000,0.750000,0.620000,0.430000,0.704000,0.864000,0.888000
1,A_Embedding,0.740975,0.587619,0.752596,0.723646,0.781323,0.794465,0.496667,0.811433,0.792358,0.811039
2,E_Embedding,0.687884,0.567857,0.625180,0.684975,0.655927,0.707916,0.555714,0.736542,0.750295,0.752932
3,I_Embedding,0.748180,0.578956,0.674691,0.704053,0.686239,0.547093,0.483590,0.646677,0.713111,0.727734
4,O_Embedding,0.640557,0.553800,0.608481,0.647351,0.644576,0.639483,0.492857,0.682911,0.637884,0.671548

In [17]:
ph.posthoc_Friedman_Davenport_Hochbertest(embbeding_auc_norm)

### Experimento
# Number of classifiers: 10
# Number of datasets: 6
# Name of classifiers: KNN8, Tree, Bayes, SVM, RandomF, Ada, Reglas, GBC, MLP100, MLP10
# Alpha: 0.05

### Métricas
# Test de Friedman sobre métricas
	-> p-val: 0.0000

### Rankings
# MLP10   ranking medio:  1.833
# GBC     ranking medio:  3.167
# MLP100  ranking medio:  3.333
# KNN8    ranking medio:  4.167
# SVM     ranking medio:  5.167
# RandomF ranking medio:  5.667
# Ada     ranking medio:  5.833
# Bayes   ranking medio:  7.0
# Tree    ranking medio:  8.833
# Reglas  ranking medio:  10.0
# Test de Friedman sobre Rankings [F(38.7636, 9, 45)]
	-> p-val: 0.0000

### Test Hochberg Comparacion MLP10 vs all
# Tabla de comparación de Rankings:
                      z      p  alpha/i    sig
MLP10 vs Reglas   4.672  0.000    0.006   True
MLP10 vs Tree     4.005  0.000    0.006   True
MLP10 vs Bayes    2.956  0.003    0.007   True
MLP10 vs Ada      2.288  0.022    0.008  False
MLP10 vs RandomF  2.193  0.028    0.010  False
MLP10 vs SVM      1.907  0.056    0.012  False
MLP10 vs KNN8     1.335  0.182    0.017  False
MLP10 vs MLP100   0.858  0.391    0.025  False
MLP10 vs GBC      0.763  0.445    0.050  False

                      z      p  alpha/i    sig
MLP10 vs Reglas   4.672  0.000    0.006   True
MLP10 vs Tree     4.005  0.000    0.006   True
MLP10 vs Bayes    2.956  0.003    0.007   True
MLP10 vs Ada      2.288  0.022    0.008  False
MLP10 vs RandomF  2.193  0.028    0.010  False
MLP10 vs SVM      1.907  0.056    0.012  False
MLP10 vs KNN8     1.335  0.182    0.017  False
MLP10 vs MLP100   0.858  0.391    0.025  False
MLP10 vs GBC      0.763  0.445    0.050  False